# Dependencias
node_modules/
.pnp
.pnp.js

# Bun
bun.lockb

# Variables de entorno
.env
.env.local
.env.*.local
*/.env
*/.env.local
*/.env.*.local

# Build outputs
dist/
.astro/

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
bun-debug.log*

# Editor
.vscode/

# Temporales
*.tmp
*.temp

# Admin dashboard
admin/node_modules/
admin/.astro/
admin/dist/
admin/.vscode/
admin/.vercel/

# User miniapp
user/node_modules
user/dist
user/.vscode/
user/.vercel/